torch==1.13.1+cpu
torchaudio==0.13.1+cpu
librosa
openai-whisper
transformers==4.25.1
PySide6
numpy==1.23.5  # Pinned to be compatible with torch
matplotlib
pyqtgraph
PyInstaller
crepe # Added CREPE for pitch detection
tensorflow==2.10.0 # Added TensorFlow for CREPE
# beatnet @ git+https://github.com/mjhydri/BeatNet.git # Temporarily removed due to numba conflict
# madmom @ git+https://github.com/CPJKU/madmom.git # Temporarily removed due to build issue
